.title{
   text-align: center;
   border: 3px solid black;
   padding-bottom: 20px;
   background-color: white;
}
.Pragragh{
    border: 3px solid black;
    height: 500px;
    background-color: white;
}
.About{
  width: 1000px;
  padding-left: 15%;
  padding-top: 100px;
}
body{
  background-color: cadetblue;
}
